.TaskDetail {
  margin-top: 40px;
}

.TaskDetail .upload-form {
  margin-top: 40px;
}

.TaskDetail .description {
  padding: 20px;
  border: 1px #ccc solid;
  background: #ffffff;
}

.TaskDetail .file-list {
  padding: 20px;
  border: 1px #ccc solid;
  height: 300px;
  max-width: 400px;
  background: #ffffff;
}

.acceptTask {
  border: 1px #ccc solid;
  min-height: 100px;
  max-width: 400px;
  margin-bottom: 5px;
  background: #ffffff;
  text-align: center;
  padding: 5px;
}

.acceptTask>button{
  margin: 5px;
  width: 60px;
}

.fileDropzone{
  min-height: 80px;
  max-width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fileDropzone > p{
  padding-top: 10px;
  padding-left: 10px;
}

.fileDropzone > span{
  padding-left: 10px;
}